@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: "Bellefair", serif;
  }
  p,
  span,
  a {
    font-family: "Barlow Condensed", sans-serif;
  }
  h1 {
    font-size: 150px;
  }
  h2 {
    font-size: 100px;
  }
  h3 {
    font-size: 56px;
  }
  h4 {
    font-size: 32px;
  }
  h5 {
    font-size: 28px;
  }
}

@layer components {
  .sub-heading-one {
    font-family: "Bellefair", serif;
    font-size: 28px;
  }
  .sub-heading-two,
  .nav-text {
    font-family: "Barlow Condensed", sans-serif;
  }
  .sub-heading-two {
    font-size: 14px;
  }
  .nav-text {
    font-size: 16px;
  }
}

.dest-nav::after {
  content: "";
  position: absolute;
  height: 2px;
  width: 0%;
  bottom: 0px;
  right: 0;
  left: 0;
  background-color: white;
  transition: width 0.3s linear;
}
.dest-check::after {
  content: "";
  position: absolute;
  height: 2px;
  width: 100%;
  bottom: 0px;
  right: 0;
  left: 0;
  background-color: white;
  transition: width 0.3s linear;
}

.dest-nav:hover::after {
  width: 100%;
}

/* .bef {
  @apply after:content-[''] after:absolute after:w-full after:bg-white after:bottom-0 after:h-1 after:left-0;
} */
